In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
import re

%matplotlib inline
rcParams['figure.figsize'] = 10,8

In [9]:
# Load the data
df_train = pd.read_csv('titanicTrain.csv', header=0)
df_test = pd.read_csv('titanicQuestion.csv', header=0)

In [10]:
#Looking data format and types
print(df_train.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
pclass       1000 non-null float64
survived     1000 non-null float64
name         1000 non-null object
sex          1000 non-null object
age          861 non-null float64
sibsp        1000 non-null float64
parch        1000 non-null float64
ticket       1000 non-null object
fare         1000 non-null float64
cabin        283 non-null object
embarked     998 non-null object
boat         417 non-null object
body         95 non-null float64
home.dest    742 non-null object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 14 columns):
pclass       309 non-null int64
survived     0 non-null float64
name         309 non-null object
sex          309 non-null object
age          185 non-null float64
sibsp        309 non-null int64
parch        309 non-null int64
ticket       309 non-null object
fare         308 non-null float64
cabin        12 non-null object
embarked     309 non-null object
boat         69 non-null object
body         26 non-null float64
home.dest    3 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 33.9+ KB
None

In [11]:
df_train.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1000.000000,1000.000000,861.000000,1000.000000,1000.0000,1000.000000,95.000000
mean,2.077000,0.423000,31.084204,0.449000,0.3800,39.274912,157.494737
std,0.847224,0.494283,14.398285,0.803769,0.8014,57.463782,91.685154
min,1.000000,0.000000,0.166700,0.000000,0.0000,0.000000,9.000000
25%,1.000000,0.000000,22.000000,0.000000,0.0000,8.050000,77.000000
50%,2.000000,0.000000,29.000000,0.000000,0.0000,20.250000,149.000000
75%,3.000000,1.000000,40.000000,1.000000,0.0000,41.579200,240.500000
max,3.000000,1.000000,80.000000,5.000000,6.0000,512.329200,322.000000

In [12]:
print(df_train.head())

   pclass  survived                                             name     sex  \
0     1.0       1.0                    Allen, Miss. Elisabeth Walton  female
1     1.0       1.0                   Allison, Master. Hudson Trevor    male
2     1.0       0.0                     Allison, Miss. Helen Loraine  female
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton    male
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000    0.0    0.0   24160  211.3375       B5        S    2    NaN
1   0.9167    1.0    2.0  113781  151.5500  C22 C26        S   11    NaN
2   2.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000    1.0    2.0  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [14]:
#Looking how the data is and searching for a re patterns
df_train["name"].head()

0                      Allen, Miss. Elisabeth Walton
1                     Allison, Master. Hudson Trevor
2                       Allison, Miss. Helen Loraine
3               Allison, Mr. Hudson Joshua Creighton
4    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Name: name, dtype: object

In [15]:
#GettingLooking the prefix of all Passengers
df_train['Title'] = df_train.Name.apply(lambda x: re.search(' ([A-Z][a-z]+)\.', x).group(1))

plt.figure(figsize=(12,5))

#Plotting the result
sns.countplot(x='Title', data=df_train, palette="hls")
plt.xlabel("Title", fontsize=16)
plt.ylabel("Count", fontsize=16)
plt.title("Title Count", fontsize=20)
plt.xticks(rotation=45)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'Name'