In [1]:
import pandas as pd
import numpy as np
import time
from climate import *

In [2]:
data = pd.read_csv("../../../NTU_BigData_And_BusinessAnalyzation_Datasets/Orders.csv")
station_info = get_station_info()

D:\python\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
taipei_data = data[data.City=='台北市'][['SalesOrderSlaveDateTime', 'City', 'SalesOrderSlaveTotalPayment']]

In [4]:
taipei_data['SalesOrderSlaveDateTime'] = pd.to_datetime(taipei_data['SalesOrderSlaveDateTime']).apply(lambda x: x.date()).astype(str)
#taipei_data['SalesOrderSlaveDateTime'] = pd.to_datetime(taipei_data['SalesOrderSlaveDateTime'])

taipei_data

        SalesOrderSlaveDateTime City  SalesOrderSlaveTotalPayment
35                   2015-07-03  台北市                        152.0
36                   2015-07-03  台北市                        158.0
37                   2015-07-03  台北市                        144.0
38                   2015-07-03  台北市                        144.0
39                   2015-07-03  台北市                        199.0
40                   2015-07-03  台北市                        125.0
41                   2015-07-03  台北市                        125.0
42                   2015-07-03  台北市                        100.0
43                   2015-07-03  台北市                        200.0
86                   2015-07-03  台北市                        199.0
87                   2015-07-03  台北市                        100.0
88                   2015-07-03  台北市                        200.0
93                   2015-07-03  台北市                        269.0
94                   2015-07-03  台北市                        220.0
95                   2015-07-03  台北市                        269.0
152                  2015-07-03  台北市                        276.0
168                  2015-07-03  台北市                        175.0
169                  2015-07-03  台北市                        199.0
184                  2015-07-03  台北市                        199.0
185                  2015-07-03  台北市                        249.0
311                  2015-07-03  台北市                        199.0
312                  2015-07-03  台北市                        249.0
313                  2015-07-03  台北市                        249.0
319                  2015-07-03  台北市                        339.0
320                  2015-07-03  台北市                        339.0
321                  2015-07-03  台北市                        350.0
322                  2015-07-03  台北市                        390.0
429                  2015-06-26  台北市                        152.0
430                  2015-06-26  台北市                        190.0
431                  2015-06-26  台北市                        208.0
...                         ...  ...                          ...
5495022              2017-03-28  台北市                        285.0
5495023              2017-03-28  台北市                        185.0
5495024              2017-03-28  台北市                        172.0
5495054              2017-03-28  台北市                        177.0
5495055              2017-03-28  台北市                        366.0
5495056              2017-03-28  台北市                        314.0
5495089              2017-03-28  台北市                        199.0
5495090              2017-03-28  台北市                        199.0
5495092              2017-03-29  台北市                        199.0
5495109              2017-03-29  台北市                        179.0
5495110              2017-03-29  台北市                        137.0
5495111              2017-03-29  台北市                        181.0
5495112              2017-03-29  台北市                        181.0
5495113              2017-03-29  台北市                        319.0
5495138              2017-03-29  台北市                        317.0
5495139              2017-03-29  台北市                        184.0
5495140              2017-03-29  台北市                        323.0
5495141              2017-03-29  台北市                        184.0
5495142              2017-03-29  台北市                        184.0
5495186              2017-03-29  台北市                        100.0
5495187              2017-03-29  台北市                         99.0
5495249              2017-03-29  台北市                         49.0
5495250              2017-03-29  台北市                         49.0
5495258              2017-03-29  台北市                        392.0
5495269              2017-03-29  台北市                        186.0
5495270              2017-03-29  台北市                        313.0
5495271              2017-03-29  台北市                        424.0
5495272              2017-03-29  台北市                        188.0
5495273              2017-03-29  台北市                        330.0
5495274              2017-03-29  台北市                        188.0

[693837 rows x 3 columns]

In [28]:
taipei_data2 = taipei_data.groupby(by='SalesOrderSlaveDateTime')['SalesOrderSlaveTotalPayment'].sum()
taipei_data3 = pd.DataFrame(taipei_data2)
taipei_data3

                         SalesOrderSlaveTotalPayment
SalesOrderSlaveDateTime
2015-05-07                                    1470.0
2015-05-08                                     717.0
2015-05-09                                    1032.0
2015-05-10                                    3521.0
2015-05-11                                    3198.0
2015-05-12                                    4304.0
2015-05-13                                    1075.0
2015-05-15                                    2607.0
2015-05-16                                    1623.0
2015-05-17                                    1736.0
2015-05-18                                    4569.0
2015-05-20                                   11002.0
2015-05-21                                    6005.0
2015-05-22                                    5948.0
2015-05-23                                   15955.0
2015-05-24                                    9788.0
2015-05-25                                    4846.0
2015-05-26                                    9714.0
2015-05-27                                    2324.0
2015-05-28                                   11585.0
2015-05-29                                    7949.0
2015-05-30                                   14092.0
2015-05-31                                   14301.0
2015-06-01                                   12465.0
2015-06-02                                    2236.0
2015-06-03                                    2340.0
2015-06-04                                    4002.0
2015-06-05                                   10743.0
2015-06-06                                    4484.0
2015-06-07                                    8858.0
...                                              ...
2018-03-17                                  159563.0
2018-03-18                                  178872.0
2018-03-19                                  184244.0
2018-03-20                                  173910.0
2018-03-21                                  128581.0
2018-03-22                                  109302.0
2018-03-23                                  126438.0
2018-03-24                                  117651.0
2018-03-25                                  142997.0
2018-03-26                                  173875.0
2018-03-27                                  171277.0
2018-03-28                                  159187.0
2018-03-29                                  162829.0
2018-03-30                                  164800.0
2018-03-31                                  199673.0
2018-04-01                                  157614.0
2018-04-02                                  134309.0
2018-04-03                                  162609.0
2018-04-04                                  166767.0
2018-04-05                                  200369.0
2018-04-06                                  166640.0
2018-04-07                                  121344.0
2018-04-08                                  163725.0
2018-04-09                                  121895.0
2018-04-10                                  139464.0
2018-04-11                                  144348.0
2018-04-12                                  170714.0
2018-04-13                                  146160.0
2018-04-14                                  175902.0
2018-04-15                                  153879.0

[1073 rows x 1 columns]

In [32]:
taipei_data3['City'] = '台北市'
taipei_data3

                         SalesOrderSlaveTotalPayment City
SalesOrderSlaveDateTime
2015-05-07                                    1470.0  台北市
2015-05-08                                     717.0  台北市
2015-05-09                                    1032.0  台北市
2015-05-10                                    3521.0  台北市
2015-05-11                                    3198.0  台北市
2015-05-12                                    4304.0  台北市
2015-05-13                                    1075.0  台北市
2015-05-15                                    2607.0  台北市
2015-05-16                                    1623.0  台北市
2015-05-17                                    1736.0  台北市
2015-05-18                                    4569.0  台北市
2015-05-20                                   11002.0  台北市
2015-05-21                                    6005.0  台北市
2015-05-22                                    5948.0  台北市
2015-05-23                                   15955.0  台北市
2015-05-24                                    9788.0  台北市
2015-05-25                                    4846.0  台北市
2015-05-26                                    9714.0  台北市
2015-05-27                                    2324.0  台北市
2015-05-28                                   11585.0  台北市
2015-05-29                                    7949.0  台北市
2015-05-30                                   14092.0  台北市
2015-05-31                                   14301.0  台北市
2015-06-01                                   12465.0  台北市
2015-06-02                                    2236.0  台北市
2015-06-03                                    2340.0  台北市
2015-06-04                                    4002.0  台北市
2015-06-05                                   10743.0  台北市
2015-06-06                                    4484.0  台北市
2015-06-07                                    8858.0  台北市
...                                              ...  ...
2018-03-17                                  159563.0  台北市
2018-03-18                                  178872.0  台北市
2018-03-19                                  184244.0  台北市
2018-03-20                                  173910.0  台北市
2018-03-21                                  128581.0  台北市
2018-03-22                                  109302.0  台北市
2018-03-23                                  126438.0  台北市
2018-03-24                                  117651.0  台北市
2018-03-25                                  142997.0  台北市
2018-03-26                                  173875.0  台北市
2018-03-27                                  171277.0  台北市
2018-03-28                                  159187.0  台北市
2018-03-29                                  162829.0  台北市
2018-03-30                                  164800.0  台北市
2018-03-31                                  199673.0  台北市
2018-04-01                                  157614.0  台北市
2018-04-02                                  134309.0  台北市
2018-04-03                                  162609.0  台北市
2018-04-04                                  166767.0  台北市
2018-04-05                                  200369.0  台北市
2018-04-06                                  166640.0  台北市
2018-04-07                                  121344.0  台北市
2018-04-08                                  163725.0  台北市
2018-04-09                                  121895.0  台北市
2018-04-10                                  139464.0  台北市
2018-04-11                                  144348.0  台北市
2018-04-12                                  170714.0  台北市
2018-04-13                                  146160.0  台北市
2018-04-14                                  175902.0  台北市
2018-04-15                                  153879.0  台北市

[1073 rows x 2 columns]

In [33]:
taipei_time = (taipei_data['SalesOrderSlaveDateTime'].unique())
taipei = "臺北市"
taipei_time

array(['2015-07-03', '2015-06-26', '2015-07-13', ..., '2017-03-28',
       '2017-03-26', '2017-03-24'], dtype=object)

In [34]:
taipei_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693837 entries, 35 to 5495274
Data columns (total 3 columns):
SalesOrderSlaveDateTime        693837 non-null object
City                           693837 non-null object
SalesOrderSlaveTotalPayment    693837 non-null float64
dtypes: float64(1), object(2)
memory usage: 21.2+ MB

In [36]:
taipei_precp = []
taipei_temperature = []
for i in range(len(taipei_time)):
    temp = get_city_data(station_info, taipei_time[i], taipei)
    precp_mean = temp[temp['Precp'].str.contains("\d+[\.]?\d*").fillna(False)]['Precp'].astype(float).mean()
    temperature_mean = temp[temp['Temperature'].str.contains("\d+[\.]?\d*").fillna(False)]['Temperature'].astype(float).mean()
    taipei_precp.append(precp_mean)
    taipei_temperature.append(temperature_mean)

In [37]:
taipei_climate = pd.DataFrame({'SalesOrderSlaveDateTime':taipei_time, 'Precp':taipei_precp, 'Temperature':taipei_temperature})
taipei_climate.head()
taipei_climate.to_csv("taipei_climate.csv")

In [38]:
taipei_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 3 columns):
SalesOrderSlaveDateTime    1073 non-null object
Precp                      1073 non-null float64
Temperature                1073 non-null float64
dtypes: float64(2), object(1)
memory usage: 25.2+ KB

In [39]:
taipei2_result = pd.merge(taipei_data3, taipei_climate, on='SalesOrderSlaveDateTime')
taipei2_result

,SalesOrderSlaveDateTime,SalesOrderSlaveTotalPayment,City,Precp,Temperature
0,2015-05-07,1470.0,台北市,0.018182,23.478472
1,2015-05-08,717.0,台北市,0.016517,24.791319
2,2015-05-09,1032.0,台北市,0.616766,24.670486
3,2015-05-10,3521.0,台北市,0.003333,24.626736
4,2015-05-11,3198.0,台北市,0.018405,25.419444
5,2015-05-12,4304.0,台北市,1.984592,20.867247
6,2015-05-13,1075.0,台北市,0.000000,25.399306
7,2015-05-15,2607.0,台北市,0.001493,27.032639
8,2015-05-16,1623.0,台北市,0.025449,27.583333
9,2015-05-17,1736.0,台北市,0.001488,26.592708
10,2015-05-18,4569.0,台北市,0.000000,27.809028
11,2015-05-20,11002.0,台北市,2.552121,23.340625
12,2015-05-21,6005.0,台北市,0.063077,20.520833
13,2015-05-22,5948.0,台北市,0.982875,23.566667
14,2015-05-23,15955.0,台北市,1.056135,23.793056
15,2015-05-24,9788.0,台北市,1.756881,23.276389
16,2015-05-25,4846.0,台北市,0.212693,22.400347
17,2015-05-26,9714.0,台北市,0.425538,22.589931
18,2015-05-27,2324.0,台北市,0.025610,25.374306
19,2015-05-28,11585.0,台北市,0.000000,28.201736
20,2015-05-29,7949.0,台北市,0.001488,29.318056
21,2015-05-30,14092.0,台北市,0.004478,29.251042
22,2015-05-31,14301.0,台北市,0.154206,26.580556
23,2015-06-01,12465.0,台北市,0.097281,26.756944
24,2015-06-02,2236.0,台北市,0.000000,27.886458
25,2015-06-03,2340.0,台北市,0.000000,28.486806
26,2015-06-04,4002.0,台北市,0.024012,26.777431
27,2015-06-05,10743.0,台北市,0.060060,28.103136
28,2015-06-06,4484.0,台北市,0.830323,25.303788
29,2015-06-07,8858.0,台北市,1.051402,25.897727
...,...,...,...,...,...
1043,2018-03-17,159563.0,台北市,0.053117,17.963174
1044,2018-03-18,178872.0,台北市,0.001316,20.968580
1045,2018-03-19,184244.0,台北市,0.001613,22.114110
1046,2018-03-20,173910.0,台北市,0.476738,17.501818
1047,2018-03-21,128581.0,台北市,0.040691,12.979394
1048,2018-03-22,109302.0,台北市,0.000000,13.009036
1049,2018-03-23,126438.0,台北市,0.000000,16.476524
1050,2018-03-24,117651.0,台北市,0.000000,19.258228
1051,2018-03-25,142997.0,台北市,0.000000,20.404204
1052,2018-03-26,173875.0,台北市,0.000000,20.616867
1053,2018-03-27,171277.0,台北市,0.008743,19.595137
1054,2018-03-28,159187.0,台北市,0.006479,21.151713
1055,2018-03-29,162829.0,台北市,0.000000,22.945181
1056,2018-03-30,164800.0,台北市,0.001897,21.480000
1057,2018-03-31,199673.0,台北市,0.006183,21.414199
1058,2018-04-01,157614.0,台北市,0.000000,22.690068
1059,2018-04-02,134309.0,台北市,0.000000,22.354819
1060,2018-04-03,162609.0,台北市,0.000000,22.403040
1061,2018-04-04,166767.0,台北市,0.000000,22.767568
1062,2018-04-05,200369.0,台北市,0.000000,23.338922
1063,2018-04-06,166640.0,台北市,0.142473,17.877812
1064,2018-04-07,121344.0,台北市,0.173243,13.201502
1065,2018-04-08,163725.0,台北市,0.000000,17.253776
1066,2018-04-09,121895.0,台北市,0.000000,19.868731
1067,2018-04-10,139464.0,台北市,0.000000,21.375075
1068,2018-04-11,144348.0,台北市,0.000000,23.691867
1069,2018-04-12,170714.0,台北市,0.442895,23.570552
1070,2018-04-13,146160.0,台北市,0.006849,24.970588
1071,2018-04-14,175902.0,台北市,0.385083,24.373438
1072,2018-04-15,153879.0,台北市,0.369505,17.257143

In [42]:
import requests
from bs4 import BeautifulSoup
from datetime import timedelta, date
import pandas as pd
def getTodayIndex(year, month, day):
    keys = {'syear': year, 'smonth': month, 'sday': day} # 要傳給期貨交易所的 key
    r = requests.post("http://www.taifex.com.tw/chinese/3/3_1_1.asp", data = keys) # 抓取這個 key 回傳網頁的原始碼
    soup = BeautifulSoup(r.text, "lxml") # 把原始碼做整理
    # 這邊下面講
    soup_data = soup.select('table')[2].select('table')[1].select('td')
    return soup_data

In [44]:
def getData(start):

    # 先把 DataFrame 架構寫好
    data = {'date':[], 'open':[], 'high':[], 'low':[], 'settlement':[], 'volume':[]}
    data1 = pd.DataFrame(data)
    print(data1)
    # 這邊匯入我們想要的資料的起始日期
    day = date(start[0], start[1], start[2])
    # 這邊把停止日期設置在今天
    today = date.today()
    # 起始日至今日的總日數
    span = ((today - day).days) + 1
    # 因為是每日資料，所以間隔設為一日
    interval = timedelta(days=1)

    # 多定義一個把爬下來的資料放進 DataFrame 的方法
    def addtoData(column, index):
        try:
            data[column].append(int(soup_data[index].text))
        except Exception as e:
            print (e)
            data[column].append(np.nan)

    # 把整個 span 內的 soup_data 中的當日期指各項資料抓下來
    for _ in range(span):
        try:
            soup_data = getTodayIndex(day.year, day.month, day.day)
            data['date'].append(day)
            addtoData('open', 2)
            addtoData('high', 3)
            addtoData('low', 4)
            addtoData('settlement', 5)
            addtoData('volume', 8)
            #addtoData('close', 9)
            #addtoData('open_int', 10)
            #addtoData('close_best_bid', 11)
            #addtoData('close_best_ask', 12)
            print ('%d/%d/%d is loaded' %(day.year, day.month, day.day))
        except Exception as e:
            #print (e)
            print ('stock market was not open on %d/%d/%d' %(day.year, day.month, day.day))
        # 日期往後加一天
        day += interval
    #print(data)
   # 把 data 放到 DataFrame 裡面
    df1 = pd.DataFrame(data)
    return df1

In [45]:
df = getData([2015,5,7])

print (df[['date','open','settlement','volume']])

Empty DataFrame
Columns: [date, open, high, low, settlement, volume]
Index: []
2015/5/7 is loaded
2015/5/8 is loaded
stock market was not open on 2015/5/9
stock market was not open on 2015/5/10
2015/5/11 is loaded
2015/5/12 is loaded
2015/5/13 is loaded
2015/5/14 is loaded
2015/5/15 is loaded
stock market was not open on 2015/5/16
stock market was not open on 2015/5/17
2015/5/18 is loaded
2015/5/19 is loaded
2015/5/20 is loaded
2015/5/21 is loaded
2015/5/22 is loaded
stock market was not open on 2015/5/23
stock market was not open on 2015/5/24
2015/5/25 is loaded
2015/5/26 is loaded
2015/5/27 is loaded
2015/5/28 is loaded
2015/5/29 is loaded
stock market was not open on 2015/5/30
stock market was not open on 2015/5/31
2015/6/1 is loaded
2015/6/2 is loaded
2015/6/3 is loaded
2015/6/4 is loaded
2015/6/5 is loaded
stock market was not open on 2015/6/6
stock market was not open on 2015/6/7
2015/6/8 is loaded
2015/6/9 is loaded
2015/6/10 is loaded
2015/6/11 is loaded
2015/6/12 is loaded
stock market was not open on 2015/6/13
stock market was not open on 2015/6/14
2015/6/15 is loaded
2015/6/16 is loaded
2015/6/17 is loaded
2015/6/18 is loaded
stock market was not open on 2015/6/19
stock market was not open on 2015/6/20
stock market was not open on 2015/6/21
2015/6/22 is loaded
2015/6/23 is loaded
2015/6/24 is loaded
2015/6/25 is loaded
2015/6/26 is loaded
stock market was not open on 2015/6/27
stock market was not open on 2015/6/28
2015/6/29 is loaded
2015/6/30 is loaded
2015/7/1 is loaded
2015/7/2 is loaded
2015/7/3 is loaded
stock market was not open on 2015/7/4
stock market was not open on 2015/7/5
2015/7/6 is loaded
2015/7/7 is loaded
2015/7/8 is loaded
2015/7/9 is loaded
stock market was not open on 2015/7/10
stock market was not open on 2015/7/11
stock market was not open on 2015/7/12
2015/7/13 is loaded
2015/7/14 is loaded
2015/7/15 is loaded
2015/7/16 is loaded
2015/7/17 is loaded
stock market was not open on 2015/7/18
stock market was not open on 2015/7/19
2015/7/20 is loaded
2015/7/21 is loaded
2015/7/22 is loaded
2015/7/23 is loaded
2015/7/24 is loaded
stock market was not open on 2015/7/25
stock market was not open on 2015/7/26
2015/7/27 is loaded
2015/7/28 is loaded
2015/7/29 is loaded
2015/7/30 is loaded
2015/7/31 is loaded
stock market was not open on 2015/8/1
stock market was not open on 2015/8/2
2015/8/3 is loaded
2015/8/4 is loaded
2015/8/5 is loaded
2015/8/6 is loaded
2015/8/7 is loaded
stock market was not open on 2015/8/8
stock market was not open on 2015/8/9
2015/8/10 is loaded
2015/8/11 is loaded
2015/8/12 is loaded
2015/8/13 is loaded
2015/8/14 is loaded
stock market was not open on 2015/8/15
stock market was not open on 2015/8/16
2015/8/17 is loaded
2015/8/18 is loaded
2015/8/19 is loaded
2015/8/20 is loaded
2015/8/21 is loaded
stock market was not open on 2015/8/22
stock market was not open on 2015/8/23
2015/8/24 is loaded
2015/8/25 is loaded
2015/8/26 is loaded
2015/8/27 is loaded
2015/8/28 is loaded
stock market was not open on 2015/8/29
stock market was not open on 2015/8/30
2015/8/31 is loaded
2015/9/1 is loaded
2015/9/2 is loaded
2015/9/3 is loaded
2015/9/4 is loaded
stock market was not open on 2015/9/5
stock market was not open on 2015/9/6
2015/9/7 is loaded
2015/9/8 is loaded
2015/9/9 is loaded
2015/9/10 is loaded
2015/9/11 is loaded
stock market was not open on 2015/9/12
stock market was not open on 2015/9/13
2015/9/14 is loaded
2015/9/15 is loaded
2015/9/16 is loaded
2015/9/17 is loaded
2015/9/18 is loaded
stock market was not open on 2015/9/19
stock market was not open on 2015/9/20
2015/9/21 is loaded
2015/9/22 is loaded
2015/9/23 is loaded
2015/9/24 is loaded
2015/9/25 is loaded
stock market was not open on 2015/9/26
stock market was not open on 2015/9/27
stock market was not open on 2015/9/28
stock market was not open on 2015/9/29
2015/9/30 is loaded
2015/10/1 is loaded
2015/10/2 is loaded
stock market was not open on 2015/10/3
stock market was not open on 2015/10/4
2015/10/5 is loaded
2015/10/6 is loaded
2015/10/7 is loaded
2015/10/8 is loaded
stock market was not open on 2015/10/9
stock market was not open on 2015/10/10
stock market was not open on 2015/10/11
2015/10/12 is loaded
2015/10/13 is loaded
2015/10/14 is loaded
2015/10/15 is loaded
2015/10/16 is loaded
stock market was not open on 2015/10/17
stock market was not open on 2015/10/18
2015/10/19 is loaded
2015/10/20 is loaded
2015/10/21 is loaded
2015/10/22 is loaded
2015/10/23 is loaded
stock market was not open on 2015/10/24
stock market was not open on 2015/10/25
2015/10/26 is loaded
2015/10/27 is loaded
2015/10/28 is loaded
2015/10/29 is loaded
2015/10/30 is loaded
stock market was not open on 2015/10/31
stock market was not open on 2015/11/1
2015/11/2 is loaded
2015/11/3 is loaded
2015/11/4 is loaded
2015/11/5 is loaded
2015/11/6 is loaded
stock market was not open on 2015/11/7
stock market was not open on 2015/11/8
2015/11/9 is loaded
2015/11/10 is loaded
2015/11/11 is loaded
2015/11/12 is loaded
2015/11/13 is loaded
stock market was not open on 2015/11/14
stock market was not open on 2015/11/15
2015/11/16 is loaded
2015/11/17 is loaded
2015/11/18 is loaded
2015/11/19 is loaded
2015/11/20 is loaded
stock market was not open on 2015/11/21
stock market was not open on 2015/11/22
2015/11/23 is loaded
2015/11/24 is loaded
2015/11/25 is loaded
2015/11/26 is loaded
2015/11/27 is loaded
stock market was not open on 2015/11/28
stock market was not open on 2015/11/29
2015/11/30 is loaded
2015/12/1 is loaded
2015/12/2 is loaded
2015/12/3 is loaded
2015/12/4 is loaded
stock market was not open on 2015/12/5
stock market was not open on 2015/12/6
2015/12/7 is loaded
2015/12/8 is loaded
2015/12/9 is loaded
2015/12/10 is loaded
2015/12/11 is loaded
stock market was not open on 2015/12/12
stock market was not open on 2015/12/13
2015/12/14 is loaded
2015/12/15 is loaded
2015/12/16 is loaded
2015/12/17 is loaded
2015/12/18 is loaded
stock market was not open on 2015/12/19
stock market was not open on 2015/12/20
2015/12/21 is loaded
2015/12/22 is loaded
2015/12/23 is loaded
2015/12/24 is loaded
2015/12/25 is loaded
stock market was not open on 2015/12/26
stock market was not open on 2015/12/27
2015/12/28 is loaded
2015/12/29 is loaded
2015/12/30 is loaded
2015/12/31 is loaded
stock market was not open on 2016/1/1
stock market was not open on 2016/1/2
stock market was not open on 2016/1/3
2016/1/4 is loaded
2016/1/5 is loaded
2016/1/6 is loaded
2016/1/7 is loaded
2016/1/8 is loaded
stock market was not open on 2016/1/9
stock market was not open on 2016/1/10
2016/1/11 is loaded
2016/1/12 is loaded
2016/1/13 is loaded
2016/1/14 is loaded
2016/1/15 is loaded
stock market was not open on 2016/1/16
stock market was not open on 2016/1/17
2016/1/18 is loaded
2016/1/19 is loaded
2016/1/20 is loaded
2016/1/21 is loaded
2016/1/22 is loaded
stock market was not open on 2016/1/23
stock market was not open on 2016/1/24
2016/1/25 is loaded
2016/1/26 is loaded
2016/1/27 is loaded
2016/1/28 is loaded
2016/1/29 is loaded
2016/1/30 is loaded
stock market was not open on 2016/1/31
2016/2/1 is loaded
2016/2/2 is loaded
2016/2/3 is loaded
stock market was not open on 2016/2/4
stock market was not open on 2016/2/5
stock market was not open on 2016/2/6
stock market was not open on 2016/2/7
stock market was not open on 2016/2/8
stock market was not open on 2016/2/9
stock market was not open on 2016/2/10
stock market was not open on 2016/2/11
stock market was not open on 2016/2/12
stock market was not open on 2016/2/13
stock market was not open on 2016/2/14
2016/2/15 is loaded
2016/2/16 is loaded
2016/2/17 is loaded
2016/2/18 is loaded
2016/2/19 is loaded
stock market was not open on 2016/2/20
stock market was not open on 2016/2/21
2016/2/22 is loaded
2016/2/23 is loaded
2016/2/24 is loaded
2016/2/25 is loaded
2016/2/26 is loaded
stock market was not open on 2016/2/27
stock market was not open on 2016/2/28
stock market was not open on 2016/2/29
2016/3/1 is loaded
2016/3/2 is loaded
2016/3/3 is loaded
2016/3/4 is loaded
stock market was not open on 2016/3/5
stock market was not open on 2016/3/6
2016/3/7 is loaded
2016/3/8 is loaded
2016/3/9 is loaded
2016/3/10 is loaded
2016/3/11 is loaded
stock market was not open on 2016/3/12

stock market was not open on 2016/3/13
2016/3/14 is loaded
2016/3/15 is loaded
2016/3/16 is loaded
2016/3/17 is loaded
2016/3/18 is loaded
stock market was not open on 2016/3/19
stock market was not open on 2016/3/20
2016/3/21 is loaded
2016/3/22 is loaded
2016/3/23 is loaded
2016/3/24 is loaded
2016/3/25 is loaded
stock market was not open on 2016/3/26
stock market was not open on 2016/3/27
2016/3/28 is loaded
2016/3/29 is loaded
2016/3/30 is loaded
2016/3/31 is loaded
2016/4/1 is loaded
stock market was not open on 2016/4/2
stock market was not open on 2016/4/3
stock market was not open on 2016/4/4
stock market was not open on 2016/4/5
2016/4/6 is loaded
2016/4/7 is loaded
2016/4/8 is loaded
stock market was not open on 2016/4/9
stock market was not open on 2016/4/10
2016/4/11 is loaded
2016/4/12 is loaded
2016/4/13 is loaded
2016/4/14 is loaded
2016/4/15 is loaded
stock market was not open on 2016/4/16
stock market was not open on 2016/4/17
2016/4/18 is loaded
2016/4/19 is loaded
2016/4/20 is loaded
2016/4/21 is loaded
2016/4/22 is loaded
stock market was not open on 2016/4/23
stock market was not open on 2016/4/24
2016/4/25 is loaded
2016/4/26 is loaded
2016/4/27 is loaded
2016/4/28 is loaded
2016/4/29 is loaded
stock market was not open on 2016/4/30
stock market was not open on 2016/5/1
stock market was not open on 2016/5/2
2016/5/3 is loaded
2016/5/4 is loaded
2016/5/5 is loaded
2016/5/6 is loaded
stock market was not open on 2016/5/7
stock market was not open on 2016/5/8
2016/5/9 is loaded
2016/5/10 is loaded
2016/5/11 is loaded
2016/5/12 is loaded
2016/5/13 is loaded
stock market was not open on 2016/5/14
stock market was not open on 2016/5/15
2016/5/16 is loaded
2016/5/17 is loaded
2016/5/18 is loaded
2016/5/19 is loaded
2016/5/20 is loaded
stock market was not open on 2016/5/21
stock market was not open on 2016/5/22
2016/5/23 is loaded
2016/5/24 is loaded
2016/5/25 is loaded
2016/5/26 is loaded
2016/5/27 is loaded
stock market was not open on 2016/5/28
stock market was not open on 2016/5/29
2016/5/30 is loaded
2016/5/31 is loaded
2016/6/1 is loaded
2016/6/2 is loaded
2016/6/3 is loaded
2016/6/4 is loaded
stock market was not open on 2016/6/5
2016/6/6 is loaded
2016/6/7 is loaded
2016/6/8 is loaded
stock market was not open on 2016/6/9
stock market was not open on 2016/6/10
stock market was not open on 2016/6/11
stock market was not open on 2016/6/12
2016/6/13 is loaded
2016/6/14 is loaded
2016/6/15 is loaded
2016/6/16 is loaded
2016/6/17 is loaded
stock market was not open on 2016/6/18
stock market was not open on 2016/6/19
2016/6/20 is loaded
2016/6/21 is loaded
2016/6/22 is loaded
2016/6/23 is loaded
2016/6/24 is loaded
stock market was not open on 2016/6/25
stock market was not open on 2016/6/26
2016/6/27 is loaded
2016/6/28 is loaded
2016/6/29 is loaded
2016/6/30 is loaded
2016/7/1 is loaded
stock market was not open on 2016/7/2
stock market was not open on 2016/7/3
2016/7/4 is loaded
2016/7/5 is loaded
2016/7/6 is loaded
2016/7/7 is loaded
stock market was not open on 2016/7/8
stock market was not open on 2016/7/9
stock market was not open on 2016/7/10
2016/7/11 is loaded
2016/7/12 is loaded
2016/7/13 is loaded
2016/7/14 is loaded
2016/7/15 is loaded
stock market was not open on 2016/7/16
stock market was not open on 2016/7/17
2016/7/18 is loaded
2016/7/19 is loaded
2016/7/20 is loaded
2016/7/21 is loaded
2016/7/22 is loaded
stock market was not open on 2016/7/23
stock market was not open on 2016/7/24
2016/7/25 is loaded
2016/7/26 is loaded
2016/7/27 is loaded
2016/7/28 is loaded
2016/7/29 is loaded
stock market was not open on 2016/7/30
stock market was not open on 2016/7/31
2016/8/1 is loaded
2016/8/2 is loaded
2016/8/3 is loaded
2016/8/4 is loaded
2016/8/5 is loaded
stock market was not open on 2016/8/6
stock market was not open on 2016/8/7
2016/8/8 is loaded
2016/8/9 is loaded
2016/8/10 is loaded
2016/8/11 is loaded
2016/8/12 is loaded
stock market was not open on 2016/8/13
stock market was not open on 2016/8/14
2016/8/15 is loaded
2016/8/16 is loaded
2016/8/17 is loaded
2016/8/18 is loaded
2016/8/19 is loaded
stock market was not open on 2016/8/20
stock market was not open on 2016/8/21
2016/8/22 is loaded
2016/8/23 is loaded
2016/8/24 is loaded
2016/8/25 is loaded
2016/8/26 is loaded
stock market was not open on 2016/8/27
stock market was not open on 2016/8/28
2016/8/29 is loaded
2016/8/30 is loaded
2016/8/31 is loaded
2016/9/1 is loaded
2016/9/2 is loaded
stock market was not open on 2016/9/3
stock market was not open on 2016/9/4
2016/9/5 is loaded
2016/9/6 is loaded
2016/9/7 is loaded
2016/9/8 is loaded
2016/9/9 is loaded
2016/9/10 is loaded
stock market was not open on 2016/9/11
2016/9/12 is loaded
2016/9/13 is loaded
2016/9/14 is loaded
stock market was not open on 2016/9/15
stock market was not open on 2016/9/16
stock market was not open on 2016/9/17
stock market was not open on 2016/9/18
2016/9/19 is loaded
2016/9/20 is loaded
2016/9/21 is loaded
2016/9/22 is loaded
2016/9/23 is loaded
stock market was not open on 2016/9/24
stock market was not open on 2016/9/25
2016/9/26 is loaded
stock market was not open on 2016/9/27
stock market was not open on 2016/9/28
2016/9/29 is loaded
2016/9/30 is loaded
stock market was not open on 2016/10/1
stock market was not open on 2016/10/2
2016/10/3 is loaded
2016/10/4 is loaded
2016/10/5 is loaded
2016/10/6 is loaded
2016/10/7 is loaded
stock market was not open on 2016/10/8
stock market was not open on 2016/10/9
stock market was not open on 2016/10/10
2016/10/11 is loaded
2016/10/12 is loaded
2016/10/13 is loaded
2016/10/14 is loaded
stock market was not open on 2016/10/15
stock market was not open on 2016/10/16
2016/10/17 is loaded
2016/10/18 is loaded
2016/10/19 is loaded
2016/10/20 is loaded
2016/10/21 is loaded
stock market was not open on 2016/10/22
stock market was not open on 2016/10/23
2016/10/24 is loaded
2016/10/25 is loaded
2016/10/26 is loaded
2016/10/27 is loaded
2016/10/28 is loaded
stock market was not open on 2016/10/29
stock market was not open on 2016/10/30
2016/10/31 is loaded
2016/11/1 is loaded
2016/11/2 is loaded
2016/11/3 is loaded
2016/11/4 is loaded
stock market was not open on 2016/11/5
stock market was not open on 2016/11/6
2016/11/7 is loaded
2016/11/8 is loaded
2016/11/9 is loaded
2016/11/10 is loaded
2016/11/11 is loaded
stock market was not open on 2016/11/12
stock market was not open on 2016/11/13
2016/11/14 is loaded
2016/11/15 is loaded
2016/11/16 is loaded
2016/11/17 is loaded
2016/11/18 is loaded
stock market was not open on 2016/11/19
stock market was not open on 2016/11/20
2016/11/21 is loaded
2016/11/22 is loaded
2016/11/23 is loaded
2016/11/24 is loaded
2016/11/25 is loaded
stock market was not open on 2016/11/26
stock market was not open on 2016/11/27
2016/11/28 is loaded
2016/11/29 is loaded
2016/11/30 is loaded
2016/12/1 is loaded
2016/12/2 is loaded
stock market was not open on 2016/12/3
stock market was not open on 2016/12/4
2016/12/5 is loaded
2016/12/6 is loaded
2016/12/7 is loaded
2016/12/8 is loaded
2016/12/9 is loaded
stock market was not open on 2016/12/10
stock market was not open on 2016/12/11
2016/12/12 is loaded
2016/12/13 is loaded
2016/12/14 is loaded
2016/12/15 is loaded
2016/12/16 is loaded
stock market was not open on 2016/12/17
stock market was not open on 2016/12/18
2016/12/19 is loaded
2016/12/20 is loaded
2016/12/21 is loaded
2016/12/22 is loaded
2016/12/23 is loaded
stock market was not open on 2016/12/24
stock market was not open on 2016/12/25
2016/12/26 is loaded
2016/12/27 is loaded
2016/12/28 is loaded
2016/12/29 is loaded
2016/12/30 is loaded
stock market was not open on 2016/12/31
stock market was not open on 2017/1/1
stock market was not open on 2017/1/2
2017/1/3 is loaded
2017/1/4 is loaded
2017/1/5 is loaded
2017/1/6 is loaded
stock market was not open on 2017/1/7
stock market was not open on 2017/1/8
2017/1/9 is loaded
2017/1/10 is loaded
2017/1/11 is loaded
2017/1/12 is loaded
2017/1/13 is loaded
stock market was not open on 2017/1/14
stock market was not open on 2017/1/15
2017/1/16 is loaded
2017/1/17 is loaded
2017/1/18 is loaded
2017/1/19 is loaded
2017/1/20 is loaded
stock market was not open on 2017/1/21

stock market was not open on 2017/1/22
2017/1/23 is loaded
2017/1/24 is loaded
stock market was not open on 2017/1/25
stock market was not open on 2017/1/26
stock market was not open on 2017/1/27
stock market was not open on 2017/1/28
stock market was not open on 2017/1/29
stock market was not open on 2017/1/30
stock market was not open on 2017/1/31
stock market was not open on 2017/2/1
2017/2/2 is loaded
2017/2/3 is loaded
stock market was not open on 2017/2/4
stock market was not open on 2017/2/5
2017/2/6 is loaded
2017/2/7 is loaded
2017/2/8 is loaded
2017/2/9 is loaded
2017/2/10 is loaded
stock market was not open on 2017/2/11
stock market was not open on 2017/2/12
2017/2/13 is loaded
2017/2/14 is loaded
2017/2/15 is loaded
2017/2/16 is loaded
2017/2/17 is loaded
2017/2/18 is loaded
stock market was not open on 2017/2/19
2017/2/20 is loaded
2017/2/21 is loaded
2017/2/22 is loaded
2017/2/23 is loaded
2017/2/24 is loaded
stock market was not open on 2017/2/25
stock market was not open on 2017/2/26
stock market was not open on 2017/2/27
stock market was not open on 2017/2/28
2017/3/1 is loaded
2017/3/2 is loaded
2017/3/3 is loaded
stock market was not open on 2017/3/4
stock market was not open on 2017/3/5
2017/3/6 is loaded
2017/3/7 is loaded
2017/3/8 is loaded
2017/3/9 is loaded
2017/3/10 is loaded
stock market was not open on 2017/3/11
stock market was not open on 2017/3/12
2017/3/13 is loaded
2017/3/14 is loaded
2017/3/15 is loaded
2017/3/16 is loaded
2017/3/17 is loaded
stock market was not open on 2017/3/18
stock market was not open on 2017/3/19
2017/3/20 is loaded
2017/3/21 is loaded
2017/3/22 is loaded
2017/3/23 is loaded
2017/3/24 is loaded
stock market was not open on 2017/3/25
stock market was not open on 2017/3/26
2017/3/27 is loaded
2017/3/28 is loaded
2017/3/29 is loaded
2017/3/30 is loaded
2017/3/31 is loaded
stock market was not open on 2017/4/1
stock market was not open on 2017/4/2
stock market was not open on 2017/4/3
stock market was not open on 2017/4/4
2017/4/5 is loaded
2017/4/6 is loaded
2017/4/7 is loaded
stock market was not open on 2017/4/8
stock market was not open on 2017/4/9
2017/4/10 is loaded
2017/4/11 is loaded
2017/4/12 is loaded
2017/4/13 is loaded
2017/4/14 is loaded
stock market was not open on 2017/4/15
stock market was not open on 2017/4/16
2017/4/17 is loaded
2017/4/18 is loaded
2017/4/19 is loaded
2017/4/20 is loaded
2017/4/21 is loaded
stock market was not open on 2017/4/22
stock market was not open on 2017/4/23
2017/4/24 is loaded
2017/4/25 is loaded
2017/4/26 is loaded
2017/4/27 is loaded
2017/4/28 is loaded
stock market was not open on 2017/4/29
stock market was not open on 2017/4/30
stock market was not open on 2017/5/1
2017/5/2 is loaded
2017/5/3 is loaded
2017/5/4 is loaded
2017/5/5 is loaded
stock market was not open on 2017/5/6
stock market was not open on 2017/5/7
2017/5/8 is loaded
2017/5/9 is loaded
2017/5/10 is loaded
2017/5/11 is loaded
2017/5/12 is loaded
stock market was not open on 2017/5/13
stock market was not open on 2017/5/14
2017/5/15 is loaded
2017/5/16 is loaded
2017/5/17 is loaded
2017/5/18 is loaded
2017/5/19 is loaded
stock market was not open on 2017/5/20
stock market was not open on 2017/5/21
2017/5/22 is loaded
2017/5/23 is loaded
2017/5/24 is loaded
2017/5/25 is loaded
2017/5/26 is loaded
stock market was not open on 2017/5/27
stock market was not open on 2017/5/28
stock market was not open on 2017/5/29
stock market was not open on 2017/5/30
2017/5/31 is loaded
2017/6/1 is loaded
2017/6/2 is loaded
2017/6/3 is loaded
stock market was not open on 2017/6/4
2017/6/5 is loaded
2017/6/6 is loaded
2017/6/7 is loaded
2017/6/8 is loaded
2017/6/9 is loaded
stock market was not open on 2017/6/10
stock market was not open on 2017/6/11
2017/6/12 is loaded
2017/6/13 is loaded
2017/6/14 is loaded
2017/6/15 is loaded
2017/6/16 is loaded
stock market was not open on 2017/6/17
stock market was not open on 2017/6/18
2017/6/19 is loaded
2017/6/20 is loaded
2017/6/21 is loaded
2017/6/22 is loaded
2017/6/23 is loaded
stock market was not open on 2017/6/24
stock market was not open on 2017/6/25
2017/6/26 is loaded
2017/6/27 is loaded
2017/6/28 is loaded
2017/6/29 is loaded
2017/6/30 is loaded
stock market was not open on 2017/7/1
stock market was not open on 2017/7/2
2017/7/3 is loaded
2017/7/4 is loaded
2017/7/5 is loaded
2017/7/6 is loaded
2017/7/7 is loaded
stock market was not open on 2017/7/8
stock market was not open on 2017/7/9
2017/7/10 is loaded
2017/7/11 is loaded
2017/7/12 is loaded
2017/7/13 is loaded
2017/7/14 is loaded
stock market was not open on 2017/7/15
stock market was not open on 2017/7/16
2017/7/17 is loaded
2017/7/18 is loaded
2017/7/19 is loaded
2017/7/20 is loaded
2017/7/21 is loaded
stock market was not open on 2017/7/22
stock market was not open on 2017/7/23
2017/7/24 is loaded
2017/7/25 is loaded
2017/7/26 is loaded
2017/7/27 is loaded
2017/7/28 is loaded
stock market was not open on 2017/7/29
stock market was not open on 2017/7/30
2017/7/31 is loaded
2017/8/1 is loaded
2017/8/2 is loaded
2017/8/3 is loaded
2017/8/4 is loaded
stock market was not open on 2017/8/5
stock market was not open on 2017/8/6
2017/8/7 is loaded
2017/8/8 is loaded
2017/8/9 is loaded
2017/8/10 is loaded
2017/8/11 is loaded
stock market was not open on 2017/8/12
stock market was not open on 2017/8/13
2017/8/14 is loaded
2017/8/15 is loaded
2017/8/16 is loaded
2017/8/17 is loaded
2017/8/18 is loaded
stock market was not open on 2017/8/19
stock market was not open on 2017/8/20
2017/8/21 is loaded
2017/8/22 is loaded
2017/8/23 is loaded
2017/8/24 is loaded
2017/8/25 is loaded
stock market was not open on 2017/8/26
stock market was not open on 2017/8/27
2017/8/28 is loaded
2017/8/29 is loaded
2017/8/30 is loaded
2017/8/31 is loaded
2017/9/1 is loaded
stock market was not open on 2017/9/2
stock market was not open on 2017/9/3
2017/9/4 is loaded
2017/9/5 is loaded
2017/9/6 is loaded
2017/9/7 is loaded
2017/9/8 is loaded
stock market was not open on 2017/9/9
stock market was not open on 2017/9/10
2017/9/11 is loaded
2017/9/12 is loaded
2017/9/13 is loaded
2017/9/14 is loaded
2017/9/15 is loaded
stock market was not open on 2017/9/16
stock market was not open on 2017/9/17
2017/9/18 is loaded
2017/9/19 is loaded
2017/9/20 is loaded
2017/9/21 is loaded
2017/9/22 is loaded
stock market was not open on 2017/9/23
stock market was not open on 2017/9/24
2017/9/25 is loaded
2017/9/26 is loaded
2017/9/27 is loaded
2017/9/28 is loaded
2017/9/29 is loaded
2017/9/30 is loaded
stock market was not open on 2017/10/1
2017/10/2 is loaded
2017/10/3 is loaded
stock market was not open on 2017/10/4
2017/10/5 is loaded
2017/10/6 is loaded
stock market was not open on 2017/10/7
stock market was not open on 2017/10/8
stock market was not open on 2017/10/9
stock market was not open on 2017/10/10
2017/10/11 is loaded
2017/10/12 is loaded
2017/10/13 is loaded
stock market was not open on 2017/10/14
stock market was not open on 2017/10/15
2017/10/16 is loaded
2017/10/17 is loaded
2017/10/18 is loaded
2017/10/19 is loaded
2017/10/20 is loaded
stock market was not open on 2017/10/21
stock market was not open on 2017/10/22
2017/10/23 is loaded
2017/10/24 is loaded
2017/10/25 is loaded
2017/10/26 is loaded
2017/10/27 is loaded
stock market was not open on 2017/10/28
stock market was not open on 2017/10/29
2017/10/30 is loaded
2017/10/31 is loaded
2017/11/1 is loaded
2017/11/2 is loaded
2017/11/3 is loaded
stock market was not open on 2017/11/4
stock market was not open on 2017/11/5
2017/11/6 is loaded
2017/11/7 is loaded
2017/11/8 is loaded
2017/11/9 is loaded
2017/11/10 is loaded
stock market was not open on 2017/11/11
stock market was not open on 2017/11/12
2017/11/13 is loaded
2017/11/14 is loaded
2017/11/15 is loaded
2017/11/16 is loaded
2017/11/17 is loaded
stock market was not open on 2017/11/18
stock market was not open on 2017/11/19
2017/11/20 is loaded
2017/11/21 is loaded
2017/11/22 is loaded
2017/11/23 is loaded
2017/11/24 is loaded
stock market was not open on 2017/11/25
stock market was not open on 2017/11/26
2017/11/27 is loaded
2017/11/28 is loaded
2017/11/29 is loaded
2017/11/30 is loaded
2017/12/1 is loaded
stock market was not open on 2017/12/2

stock market was not open on 2017/12/3
2017/12/4 is loaded
2017/12/5 is loaded
2017/12/6 is loaded
2017/12/7 is loaded
2017/12/8 is loaded
stock market was not open on 2017/12/9
stock market was not open on 2017/12/10
2017/12/11 is loaded
2017/12/12 is loaded
2017/12/13 is loaded
2017/12/14 is loaded
2017/12/15 is loaded
stock market was not open on 2017/12/16
stock market was not open on 2017/12/17
2017/12/18 is loaded
2017/12/19 is loaded
2017/12/20 is loaded
2017/12/21 is loaded
2017/12/22 is loaded
stock market was not open on 2017/12/23
stock market was not open on 2017/12/24
2017/12/25 is loaded
2017/12/26 is loaded
2017/12/27 is loaded
2017/12/28 is loaded
2017/12/29 is loaded
stock market was not open on 2017/12/30
stock market was not open on 2017/12/31
stock market was not open on 2018/1/1
2018/1/2 is loaded
2018/1/3 is loaded
2018/1/4 is loaded
2018/1/5 is loaded
stock market was not open on 2018/1/6
stock market was not open on 2018/1/7
2018/1/8 is loaded
2018/1/9 is loaded
2018/1/10 is loaded
2018/1/11 is loaded
2018/1/12 is loaded
stock market was not open on 2018/1/13
stock market was not open on 2018/1/14
2018/1/15 is loaded
2018/1/16 is loaded
2018/1/17 is loaded
2018/1/18 is loaded
2018/1/19 is loaded
stock market was not open on 2018/1/20
stock market was not open on 2018/1/21
2018/1/22 is loaded
2018/1/23 is loaded
2018/1/24 is loaded
2018/1/25 is loaded
2018/1/26 is loaded
stock market was not open on 2018/1/27
stock market was not open on 2018/1/28
2018/1/29 is loaded
2018/1/30 is loaded
2018/1/31 is loaded
2018/2/1 is loaded
2018/2/2 is loaded
stock market was not open on 2018/2/3
stock market was not open on 2018/2/4
2018/2/5 is loaded
2018/2/6 is loaded
2018/2/7 is loaded
2018/2/8 is loaded
2018/2/9 is loaded
stock market was not open on 2018/2/10
stock market was not open on 2018/2/11
2018/2/12 is loaded
stock market was not open on 2018/2/13
stock market was not open on 2018/2/14
stock market was not open on 2018/2/15
stock market was not open on 2018/2/16
stock market was not open on 2018/2/17
stock market was not open on 2018/2/18
stock market was not open on 2018/2/19
stock market was not open on 2018/2/20
2018/2/21 is loaded
2018/2/22 is loaded
2018/2/23 is loaded
stock market was not open on 2018/2/24
stock market was not open on 2018/2/25
2018/2/26 is loaded
2018/2/27 is loaded
stock market was not open on 2018/2/28
2018/3/1 is loaded
2018/3/2 is loaded
stock market was not open on 2018/3/3
stock market was not open on 2018/3/4
2018/3/5 is loaded
2018/3/6 is loaded
2018/3/7 is loaded
2018/3/8 is loaded
2018/3/9 is loaded
stock market was not open on 2018/3/10
stock market was not open on 2018/3/11
2018/3/12 is loaded
2018/3/13 is loaded
2018/3/14 is loaded
2018/3/15 is loaded
2018/3/16 is loaded
stock market was not open on 2018/3/17
stock market was not open on 2018/3/18
2018/3/19 is loaded
2018/3/20 is loaded
2018/3/21 is loaded
2018/3/22 is loaded
2018/3/23 is loaded
stock market was not open on 2018/3/24
stock market was not open on 2018/3/25
2018/3/26 is loaded
2018/3/27 is loaded
2018/3/28 is loaded
2018/3/29 is loaded
2018/3/30 is loaded
2018/3/31 is loaded
stock market was not open on 2018/4/1
2018/4/2 is loaded
2018/4/3 is loaded
stock market was not open on 2018/4/4
stock market was not open on 2018/4/5
stock market was not open on 2018/4/6
stock market was not open on 2018/4/7
stock market was not open on 2018/4/8
2018/4/9 is loaded
2018/4/10 is loaded
2018/4/11 is loaded
2018/4/12 is loaded
2018/4/13 is loaded
stock market was not open on 2018/4/14
stock market was not open on 2018/4/15
2018/4/16 is loaded
2018/4/17 is loaded
2018/4/18 is loaded
2018/4/19 is loaded
2018/4/20 is loaded
stock market was not open on 2018/4/21
stock market was not open on 2018/4/22
2018/4/23 is loaded
2018/4/24 is loaded
2018/4/25 is loaded
2018/4/26 is loaded
2018/4/27 is loaded
stock market was not open on 2018/4/28
stock market was not open on 2018/4/29
2018/4/30 is loaded
stock market was not open on 2018/5/1
2018/5/2 is loaded
2018/5/3 is loaded
2018/5/4 is loaded
stock market was not open on 2018/5/5
stock market was not open on 2018/5/6
2018/5/7 is loaded
2018/5/8 is loaded
2018/5/9 is loaded
2018/5/10 is loaded
2018/5/11 is loaded
stock market was not open on 2018/5/12
stock market was not open on 2018/5/13
2018/5/14 is loaded
2018/5/15 is loaded
2018/5/16 is loaded
2018/5/17 is loaded
2018/5/18 is loaded
stock market was not open on 2018/5/19
stock market was not open on 2018/5/20
2018/5/21 is loaded
2018/5/22 is loaded
2018/5/23 is loaded
2018/5/24 is loaded
2018/5/25 is loaded
stock market was not open on 2018/5/26
stock market was not open on 2018/5/27
2018/5/28 is loaded
2018/5/29 is loaded
2018/5/30 is loaded
2018/5/31 is loaded
2018/6/1 is loaded
stock market was not open on 2018/6/2
stock market was not open on 2018/6/3
2018/6/4 is loaded
2018/6/5 is loaded
2018/6/6 is loaded
2018/6/7 is loaded
2018/6/8 is loaded
stock market was not open on 2018/6/9
stock market was not open on 2018/6/10
2018/6/11 is loaded
2018/6/12 is loaded
2018/6/13 is loaded
2018/6/14 is loaded
2018/6/15 is loaded
stock market was not open on 2018/6/16
stock market was not open on 2018/6/17
stock market was not open on 2018/6/18
2018/6/19 is loaded
2018/6/20 is loaded
2018/6/21 is loaded
2018/6/22 is loaded
stock market was not open on 2018/6/23
stock market was not open on 2018/6/24
2018/6/25 is loaded
2018/6/26 is loaded
2018/6/27 is loaded
2018/6/28 is loaded
2018/6/29 is loaded
stock market was not open on 2018/6/30
stock market was not open on 2018/7/1
2018/7/2 is loaded
2018/7/3 is loaded
2018/7/4 is loaded
2018/7/5 is loaded
2018/7/6 is loaded
stock market was not open on 2018/7/7
stock market was not open on 2018/7/8
2018/7/9 is loaded
2018/7/10 is loaded
2018/7/11 is loaded
2018/7/12 is loaded
2018/7/13 is loaded
stock market was not open on 2018/7/14
stock market was not open on 2018/7/15
2018/7/16 is loaded
2018/7/17 is loaded
2018/7/18 is loaded
2018/7/19 is loaded
2018/7/20 is loaded
stock market was not open on 2018/7/21
stock market was not open on 2018/7/22
2018/7/23 is loaded
2018/7/24 is loaded
2018/7/25 is loaded
2018/7/26 is loaded
2018/7/27 is loaded
stock market was not open on 2018/7/28
stock market was not open on 2018/7/29
2018/7/30 is loaded
2018/7/31 is loaded
2018/8/1 is loaded
2018/8/2 is loaded
2018/8/3 is loaded
stock market was not open on 2018/8/4
stock market was not open on 2018/8/5
2018/8/6 is loaded
2018/8/7 is loaded
2018/8/8 is loaded
2018/8/9 is loaded
2018/8/10 is loaded
stock market was not open on 2018/8/11
stock market was not open on 2018/8/12
2018/8/13 is loaded
2018/8/14 is loaded
2018/8/15 is loaded
2018/8/16 is loaded
2018/8/17 is loaded
stock market was not open on 2018/8/18
stock market was not open on 2018/8/19
2018/8/20 is loaded
2018/8/21 is loaded
2018/8/22 is loaded
2018/8/23 is loaded
2018/8/24 is loaded
stock market was not open on 2018/8/25
stock market was not open on 2018/8/26
2018/8/27 is loaded
2018/8/28 is loaded
2018/8/29 is loaded
2018/8/30 is loaded
2018/8/31 is loaded
stock market was not open on 2018/9/1
stock market was not open on 2018/9/2
2018/9/3 is loaded
2018/9/4 is loaded
2018/9/5 is loaded
2018/9/6 is loaded
2018/9/7 is loaded
stock market was not open on 2018/9/8
stock market was not open on 2018/9/9
2018/9/10 is loaded
2018/9/11 is loaded
2018/9/12 is loaded
2018/9/13 is loaded
2018/9/14 is loaded
stock market was not open on 2018/9/15
stock market was not open on 2018/9/16
2018/9/17 is loaded
2018/9/18 is loaded
2018/9/19 is loaded
2018/9/20 is loaded
2018/9/21 is loaded
stock market was not open on 2018/9/22
stock market was not open on 2018/9/23
stock market was not open on 2018/9/24
2018/9/25 is loaded
           date   open  settlement  volume
0    2015-05-07   9786        9753       0
1    2015-05-08   9769        9721       0
2    2015-05-11   9800        9723       0
3    2015-05-12   9707        9706       0
4    2015-05-13   9712        9739       0
5    2015-05-14   9737        9604       0
6    2015-05-15   9635        9575       0
7    2015-05-18   9612        9598       0
8    2015-05-19   9616        9702       0
9    2015-05-20   9704        9668       0
10   2015-05-21   9645        9541       0
11   2015-05-22   9562        9625       0
12   2015-05-25   9603        9630       0
13   2015-05-26   9613        9659       0
14   2015-05-27   9607        9661       0
15   2015-05-28   9711        9731       0
16   2015-05-29   9741        9703       0
17   2015-06-01   9668        9630       0
18   2015-06-02   9586        9607       0
19   2015-06-03   9640        9547       0
20   2015-06-04   9531        9310       0
21   2015-06-05   9324        9308       0
22   2015-06-08   9312        9348       0
23   2015-06-09   9303        9237       0
24   2015-06-10   9256        9284       0
25   2015-06-11   9328        9288       0
26   2015-06-12   9272        9267       0
27   2015-06-15   9272        9244       0
28   2015-06-16   9244        9215       0
29   2015-06-17   9215        9182       0
..          ...    ...         ...     ...
805  2018-08-14  10791       10820   37157
806  2018-08-15  10835       10737   17983
807  2018-08-16  10610       10690   48381
808  2018-08-17  10723       10662   33570
809  2018-08-20  10687       10671   42818
810  2018-08-21  10698       10767   26927
811  2018-08-22  10752       10764   23497
812  2018-08-23  10795       10842   20425
813  2018-08-24  10811       10788   25189
814  2018-08-27  10831       10886   27610
815  2018-08-28  10945       10954   20583
816  2018-08-29  10977       11044   22871
817  2018-08-30  11088       11023   29578
818  2018-08-31  10975       11022   38833
819  2018-09-03  11013       10935   34121
820  2018-09-04  10963       11002   16456
821  2018-09-05  10973       10950   41653
822  2018-09-06  10920       10901   49211
823  2018-09-07  10864       10845   40714
824  2018-09-10  10865       10734   42965
825  2018-09-11  10758       10740   28367
826  2018-09-12  10762       10726   38518
827  2018-09-13  10740       10717   42083
828  2018-09-14  10784       10881   33449
829  2018-09-17  10857       10823   27738
830  2018-09-18  10787       10781   18130
831  2018-09-19  10836       10873   22327
832  2018-09-20  10910       10848   21057
833  2018-09-21  10905       10974   28368
834  2018-09-25  10960       10981   24595

[835 rows x 4 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835 entries, 0 to 834
Data columns (total 6 columns):
date          835 non-null object
open          835 non-null int64
high          835 non-null int64
low           835 non-null int64
settlement    835 non-null int64
volume        835 non-null int64
dtypes: int64(5), object(1)
memory usage: 39.2+ KB

In [47]:
df.describe()

               open          high           low    settlement         volume
count    835.000000    835.000000    835.000000    835.000000     835.000000
mean    9600.552096   9644.567665   9549.389222   9599.952096    8866.063473
std     1006.762376    999.729583   1013.772155   1006.373615   14917.617398
min     7400.000000   7606.000000   7010.000000   7340.000000       0.000000
25%     8671.500000   8708.500000   8607.000000   8652.000000       0.000000
50%     9607.000000   9648.000000   9550.000000   9607.000000       0.000000
75%    10593.000000  10630.000000  10532.500000  10575.500000   13477.500000
max    11245.000000  11271.000000  11181.000000  11227.000000  117119.000000

In [56]:
df = df.rename(columns={'date': 'SalesOrderSlaveDateTime'})
df

    SalesOrderSlaveDateTime   open   high    low  settlement  volume
0                2015-05-07   9786   9808   9745        9753       0
1                2015-05-08   9769   9783   9713        9721       0
2                2015-05-11   9800   9814   9657        9723       0
3                2015-05-12   9707   9748   9673        9706       0
4                2015-05-13   9712   9776   9697        9739       0
5                2015-05-14   9737   9741   9599        9604       0
6                2015-05-15   9635   9642   9541        9575       0
7                2015-05-18   9612   9614   9552        9598       0
8                2015-05-19   9616   9723   9602        9702       0
9                2015-05-20   9704   9725   9657        9668       0
10               2015-05-21   9645   9648   9512        9541       0
11               2015-05-22   9562   9649   9546        9625       0
12               2015-05-25   9603   9640   9550        9630       0
13               2015-05-26   9613   9725   9606        9659       0
14               2015-05-27   9607   9698   9601        9661       0
15               2015-05-28   9711   9750   9683        9731       0
16               2015-05-29   9741   9765   9688        9703       0
17               2015-06-01   9668   9713   9601        9630       0
18               2015-06-02   9586   9639   9565        9607       0
19               2015-06-03   9640   9648   9535        9547       0
20               2015-06-04   9531   9553   9301        9310       0
21               2015-06-05   9324   9347   9269        9308       0
22               2015-06-08   9312   9404   9235        9348       0
23               2015-06-09   9303   9346   9201        9237       0
24               2015-06-10   9256   9328   9252        9284       0
25               2015-06-11   9328   9333   9224        9288       0
26               2015-06-12   9272   9314   9230        9267       0
27               2015-06-15   9272   9318   9220        9244       0
28               2015-06-16   9244   9258   9164        9215       0
29               2015-06-17   9215   9237   9177        9182       0
..                      ...    ...    ...    ...         ...     ...
805              2018-08-14  10791  10831  10756       10820   37157
806              2018-08-15  10835  10841  10696       10737   17983
807              2018-08-16  10610  10724  10591       10690   48381
808              2018-08-17  10723  10732  10647       10662   33570
809              2018-08-20  10687  10715  10652       10671   42818
810              2018-08-21  10698  10774  10682       10767   26927
811              2018-08-22  10752  10795  10733       10764   23497
812              2018-08-23  10795  10845  10758       10842   20425
813              2018-08-24  10811  10830  10728       10788   25189
814              2018-08-27  10831  10892  10820       10886   27610
815              2018-08-28  10945  10980  10935       10954   20583
816              2018-08-29  10977  11049  10968       11044   22871
817              2018-08-30  11088  11135  11019       11023   29578
818              2018-08-31  10975  11024  10953       11022   38833
819              2018-09-03  11013  11045  10919       10935   34121
820              2018-09-04  10963  11004  10935       11002   16456
821              2018-09-05  10973  11021  10948       10950   41653
822              2018-09-06  10920  10950  10865       10901   49211
823              2018-09-07  10864  10892  10803       10845   40714
824              2018-09-10  10865  10880  10708       10734   42965
825              2018-09-11  10758  10767  10682       10740   28367
826              2018-09-12  10762  10772  10687       10726   38518
827              2018-09-13  10740  10779  10709       10717   42083
828              2018-09-14  10784  10887  10771       10881   33449
829              2018-09-17  10857  10868  10810       10823   27738
830              2018-09-18  10787  10818  10761       10781   18130
831              2018-09-19  10836  10875  10819       10873   22327
832              2018-09-20  10910  10922  10824       10848   21057
833              2018-09-21  10905  10976  10854       10974   28368
834              2018-09-25  10960  10996  10935       10981   24595

[835 rows x 6 columns]

In [57]:
taipei2_result

,SalesOrderSlaveDateTime,SalesOrderSlaveTotalPayment,City,Precp,Temperature
0,2015-05-07,1470.0,台北市,0.018182,23.478472
1,2015-05-08,717.0,台北市,0.016517,24.791319
2,2015-05-09,1032.0,台北市,0.616766,24.670486
3,2015-05-10,3521.0,台北市,0.003333,24.626736
4,2015-05-11,3198.0,台北市,0.018405,25.419444
5,2015-05-12,4304.0,台北市,1.984592,20.867247
6,2015-05-13,1075.0,台北市,0.000000,25.399306
7,2015-05-15,2607.0,台北市,0.001493,27.032639
8,2015-05-16,1623.0,台北市,0.025449,27.583333
9,2015-05-17,1736.0,台北市,0.001488,26.592708
10,2015-05-18,4569.0,台北市,0.000000,27.809028
11,2015-05-20,11002.0,台北市,2.552121,23.340625
12,2015-05-21,6005.0,台北市,0.063077,20.520833
13,2015-05-22,5948.0,台北市,0.982875,23.566667
14,2015-05-23,15955.0,台北市,1.056135,23.793056
15,2015-05-24,9788.0,台北市,1.756881,23.276389
16,2015-05-25,4846.0,台北市,0.212693,22.400347
17,2015-05-26,9714.0,台北市,0.425538,22.589931
18,2015-05-27,2324.0,台北市,0.025610,25.374306
19,2015-05-28,11585.0,台北市,0.000000,28.201736
20,2015-05-29,7949.0,台北市,0.001488,29.318056
21,2015-05-30,14092.0,台北市,0.004478,29.251042
22,2015-05-31,14301.0,台北市,0.154206,26.580556
23,2015-06-01,12465.0,台北市,0.097281,26.756944
24,2015-06-02,2236.0,台北市,0.000000,27.886458
25,2015-06-03,2340.0,台北市,0.000000,28.486806
26,2015-06-04,4002.0,台北市,0.024012,26.777431
27,2015-06-05,10743.0,台北市,0.060060,28.103136
28,2015-06-06,4484.0,台北市,0.830323,25.303788
29,2015-06-07,8858.0,台北市,1.051402,25.897727
...,...,...,...,...,...
1043,2018-03-17,159563.0,台北市,0.053117,17.963174
1044,2018-03-18,178872.0,台北市,0.001316,20.968580
1045,2018-03-19,184244.0,台北市,0.001613,22.114110
1046,2018-03-20,173910.0,台北市,0.476738,17.501818
1047,2018-03-21,128581.0,台北市,0.040691,12.979394
1048,2018-03-22,109302.0,台北市,0.000000,13.009036
1049,2018-03-23,126438.0,台北市,0.000000,16.476524
1050,2018-03-24,117651.0,台北市,0.000000,19.258228
1051,2018-03-25,142997.0,台北市,0.000000,20.404204
1052,2018-03-26,173875.0,台北市,0.000000,20.616867
1053,2018-03-27,171277.0,台北市,0.008743,19.595137
1054,2018-03-28,159187.0,台北市,0.006479,21.151713
1055,2018-03-29,162829.0,台北市,0.000000,22.945181
1056,2018-03-30,164800.0,台北市,0.001897,21.480000
1057,2018-03-31,199673.0,台北市,0.006183,21.414199
1058,2018-04-01,157614.0,台北市,0.000000,22.690068
1059,2018-04-02,134309.0,台北市,0.000000,22.354819
1060,2018-04-03,162609.0,台北市,0.000000,22.403040
1061,2018-04-04,166767.0,台北市,0.000000,22.767568
1062,2018-04-05,200369.0,台北市,0.000000,23.338922
1063,2018-04-06,166640.0,台北市,0.142473,17.877812
1064,2018-04-07,121344.0,台北市,0.173243,13.201502
1065,2018-04-08,163725.0,台北市,0.000000,17.253776
1066,2018-04-09,121895.0,台北市,0.000000,19.868731
1067,2018-04-10,139464.0,台北市,0.000000,21.375075
1068,2018-04-11,144348.0,台北市,0.000000,23.691867
1069,2018-04-12,170714.0,台北市,0.442895,23.570552
1070,2018-04-13,146160.0,台北市,0.006849,24.970588
1071,2018-04-14,175902.0,台北市,0.385083,24.373438
1072,2018-04-15,153879.0,台北市,0.369505,17.257143

In [70]:
taipei2_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1073 entries, 0 to 1072
Data columns (total 5 columns):
SalesOrderSlaveDateTime        1073 non-null object
SalesOrderSlaveTotalPayment    1073 non-null float64
City                           1073 non-null object
Precp                          1073 non-null float64
Temperature                    1073 non-null float64
dtypes: float64(3), object(2)
memory usage: 50.3+ KB

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835 entries, 0 to 834
Data columns (total 6 columns):
SalesOrderSlaveDateTime    835 non-null object
open                       835 non-null int64
high                       835 non-null int64
low                        835 non-null int64
settlement                 835 non-null int64
volume                     835 non-null int64
dtypes: int64(5), object(1)
memory usage: 39.2+ KB

In [88]:
end1 = pd.merge(taipei2_result, df,how = 'right', on = 'SalesOrderSlaveDateTime')#how = 'left', on = 'SalesOrderSlaveDateTime')
end2 = pd.merge(taipei2_result, df,how = 'left', on = 'SalesOrderSlaveDateTime')#how = 'left', on = 'SalesOrderSlaveDateTime')
end3 = pd.merge(end1, end2,how = 'left', on = 'SalesOrderSlaveDateTime')#how = 'left', on = 'SalesOrderSlaveDateTime')

In [92]:
a = taipei2_result.iloc[:10]
a

,SalesOrderSlaveDateTime,SalesOrderSlaveTotalPayment,City,Precp,Temperature
0,2015-05-07,1470.0,台北市,0.018182,23.478472
1,2015-05-08,717.0,台北市,0.016517,24.791319
2,2015-05-09,1032.0,台北市,0.616766,24.670486
3,2015-05-10,3521.0,台北市,0.003333,24.626736
4,2015-05-11,3198.0,台北市,0.018405,25.419444
5,2015-05-12,4304.0,台北市,1.984592,20.867247
6,2015-05-13,1075.0,台北市,0.000000,25.399306
7,2015-05-15,2607.0,台北市,0.001493,27.032639
8,2015-05-16,1623.0,台北市,0.025449,27.583333
9,2015-05-17,1736.0,台北市,0.001488,26.592708

In [93]:
b = df.iloc[:10]
b

  SalesOrderSlaveDateTime  open  high   low  settlement  volume
0              2015-05-07  9786  9808  9745        9753       0
1              2015-05-08  9769  9783  9713        9721       0
2              2015-05-11  9800  9814  9657        9723       0
3              2015-05-12  9707  9748  9673        9706       0
4              2015-05-13  9712  9776  9697        9739       0
5              2015-05-14  9737  9741  9599        9604       0
6              2015-05-15  9635  9642  9541        9575       0
7              2015-05-18  9612  9614  9552        9598       0
8              2015-05-19  9616  9723  9602        9702       0
9              2015-05-20  9704  9725  9657        9668       0

In [113]:
taipei2_result.SalesOrderSlaveDateTime = pd.to_datetime(taipei2_result.SalesOrderSlaveDateTime)
taipei2_result.SalesOrderSlaveDateTime
df.SalesOrderSlaveDateTime = pd.to_datetime(df.SalesOrderSlaveDateTime)
df.SalesOrderSlaveDateTime

0     2015-05-07
1     2015-05-08
2     2015-05-11
3     2015-05-12
4     2015-05-13
5     2015-05-14
6     2015-05-15
7     2015-05-18
8     2015-05-19
9     2015-05-20
10    2015-05-21
11    2015-05-22
12    2015-05-25
13    2015-05-26
14    2015-05-27
15    2015-05-28
16    2015-05-29
17    2015-06-01
18    2015-06-02
19    2015-06-03
20    2015-06-04
21    2015-06-05
22    2015-06-08
23    2015-06-09
24    2015-06-10
25    2015-06-11
26    2015-06-12
27    2015-06-15
28    2015-06-16
29    2015-06-17
         ...
805   2018-08-14
806   2018-08-15
807   2018-08-16
808   2018-08-17
809   2018-08-20
810   2018-08-21
811   2018-08-22
812   2018-08-23
813   2018-08-24
814   2018-08-27
815   2018-08-28
816   2018-08-29
817   2018-08-30
818   2018-08-31
819   2018-09-03
820   2018-09-04
821   2018-09-05
822   2018-09-06
823   2018-09-07
824   2018-09-10
825   2018-09-11
826   2018-09-12
827   2018-09-13
828   2018-09-14
829   2018-09-17
830   2018-09-18
831   2018-09-19
832   2018-09-20
833   2018-09-21
834   2018-09-25
Name: SalesOrderSlaveDateTime, Length: 835, dtype: datetime64[ns]

In [115]:
end = pd.merge(taipei2_result,df,how="inner",on="SalesOrderSlaveDateTime")
end

,SalesOrderSlaveDateTime,SalesOrderSlaveTotalPayment,City,Precp,Temperature,open,high,low,settlement,volume
0,2015-05-07,1470.0,台北市,0.018182,23.478472,9786,9808,9745,9753,0
1,2015-05-08,717.0,台北市,0.016517,24.791319,9769,9783,9713,9721,0
2,2015-05-11,3198.0,台北市,0.018405,25.419444,9800,9814,9657,9723,0
3,2015-05-12,4304.0,台北市,1.984592,20.867247,9707,9748,9673,9706,0
4,2015-05-13,1075.0,台北市,0.000000,25.399306,9712,9776,9697,9739,0
5,2015-05-15,2607.0,台北市,0.001493,27.032639,9635,9642,9541,9575,0
6,2015-05-18,4569.0,台北市,0.000000,27.809028,9612,9614,9552,9598,0
7,2015-05-20,11002.0,台北市,2.552121,23.340625,9704,9725,9657,9668,0
8,2015-05-21,6005.0,台北市,0.063077,20.520833,9645,9648,9512,9541,0
9,2015-05-22,5948.0,台北市,0.982875,23.566667,9562,9649,9546,9625,0
10,2015-05-25,4846.0,台北市,0.212693,22.400347,9603,9640,9550,9630,0
11,2015-05-26,9714.0,台北市,0.425538,22.589931,9613,9725,9606,9659,0
12,2015-05-27,2324.0,台北市,0.025610,25.374306,9607,9698,9601,9661,0
13,2015-05-28,11585.0,台北市,0.000000,28.201736,9711,9750,9683,9731,0
14,2015-05-29,7949.0,台北市,0.001488,29.318056,9741,9765,9688,9703,0
15,2015-06-01,12465.0,台北市,0.097281,26.756944,9668,9713,9601,9630,0
16,2015-06-02,2236.0,台北市,0.000000,27.886458,9586,9639,9565,9607,0
17,2015-06-03,2340.0,台北市,0.000000,28.486806,9640,9648,9535,9547,0
18,2015-06-04,4002.0,台北市,0.024012,26.777431,9531,9553,9301,9310,0
19,2015-06-05,10743.0,台北市,0.060060,28.103136,9324,9347,9269,9308,0
20,2015-06-08,9252.0,台北市,0.000000,27.641288,9312,9404,9235,9348,0
21,2015-06-09,5620.0,台北市,0.000000,28.623443,9303,9346,9201,9237,0
22,2015-06-10,15642.0,台北市,0.000000,28.975000,9256,9328,9252,9284,0
23,2015-06-11,18882.0,台北市,0.000000,29.718681,9328,9333,9224,9288,0
24,2015-06-12,28849.0,台北市,0.139881,28.838194,9272,9314,9230,9267,0
25,2015-06-15,23659.0,台北市,0.005988,27.862021,9272,9318,9220,9244,0
26,2015-06-16,15690.0,台北市,0.000000,28.884722,9244,9258,9164,9215,0
27,2015-06-17,25955.0,台北市,0.000000,29.602778,9215,9237,9177,9182,0
28,2015-06-18,36031.0,台北市,0.000000,29.665505,9044,9078,9011,9049,0
29,2015-06-22,34871.0,台北市,0.056061,27.996181,9108,9203,9105,9182,0
...,...,...,...,...,...,...,...,...,...,...
689,2018-03-01,106469.0,台北市,0.002646,19.284478,10604,10778,10600,10735,35903
690,2018-03-02,73484.0,台北市,0.000000,20.944000,10614,10696,10579,10681,61378
691,2018-03-05,122969.0,台北市,0.124528,20.322492,10695,10741,10598,10635,62593
692,2018-03-06,132512.0,台北市,0.052926,15.304878,10730,10789,10712,10787,43923
693,2018-03-07,144627.0,台北市,0.054865,17.791045,10712,10817,10700,10712,40030
694,2018-03-08,144503.0,台北市,0.828686,11.968519,10778,10847,10767,10829,41290
695,2018-03-09,123686.0,台北市,0.001323,11.157402,10906,10910,10827,10865,30626
696,2018-03-12,162091.0,台北市,0.000000,18.183030,10965,11025,10948,11024,31118
697,2018-03-13,189412.0,台北市,0.000000,18.909091,11028,11103,11013,11100,24343
698,2018-03-14,170868.0,台北市,0.001609,20.783939,11048,11066,11003,11031,36855
699,2018-03-15,156418.0,台北市,0.045867,20.429730,10994,11068,10985,11041,44223
700,2018-03-16,116112.0,台北市,0.041755,18.490634,11038,11043,10923,11018,29839
701,2018-03-19,184244.0,台北市,0.001613,22.114110,10975,11054,10959,11028,18195
702,2018-03-20,173910.0,台北市,0.476738,17.501818,10973,11025,10957,11012,34503
703,2018-03-21,128581.0,台北市,0.040691,12.979394,11030,11073,11011,11044,19186
704,2018-03-22,109302.0,台北市,0.000000,13.009036,11036,11122,10961,10989,28389
705,2018-03-23,126438.0,台北市,0.000000,16.476524,10730,10816,10718,10734,66204
706,2018-03-26,173875.0,台北市,0.000000,20.616867,10693,10847,10682,10840,69002
707,2018-03-27,171277.0,台北市,0.008743,19.595137,10948,10991,10906,10989,62848
708,2018-03-28,159187.0,台北市,0.006479,21.151713,10879,10910,10809,10820,47717
709,2018-03-29,162829.0,台北市,0.000000,22.945181,10830,10859,10773,10840,73814
710,2018-03-30,164800.0,台北市,0.001897,21.480000,10921,10974,10904,10919,43317
711,2018-03-31,199673.0,台北市,0.006183,21.414199,10947,10949,10912,10926,8095
712,2018-04-02,134309.0,台北市,0.000000,22.354819,10920,10958,10843,10865,0
713,2018-04-03,162609.0,台北市,0.000000,22.403040,10774,10807,10738,10784,61026
714,2018-04-09,121895.0,台北市,0.000000,19.868731,10838,10911,10813,10904,43499
715,2018-04-10,139464.0,台北市,0.000000,21.375075,10874,10993,10852,10949,35463
716,2018-04-11,144348.0,台北市,0.000000,23.691867,10959,11007,10948,10979,32545
717,2018-04-12,170714.0,台北市,0.442895,23.570552,10993,11024,10905,10943,30228
718,2018-04-13,146160.0,台北市,0.006849,24.970588,10966,10988,10920,10955,27450

In [117]:
end.to_csv('final.csv')

In [119]:
end['Difference'] = end.settlement - end.open
end

,SalesOrderSlaveDateTime,SalesOrderSlaveTotalPayment,City,Precp,Temperature,open,high,low,settlement,volume,Difference
0,2015-05-07,1470.0,台北市,0.018182,23.478472,9786,9808,9745,9753,0,-33
1,2015-05-08,717.0,台北市,0.016517,24.791319,9769,9783,9713,9721,0,-48
2,2015-05-11,3198.0,台北市,0.018405,25.419444,9800,9814,9657,9723,0,-77
3,2015-05-12,4304.0,台北市,1.984592,20.867247,9707,9748,9673,9706,0,-1
4,2015-05-13,1075.0,台北市,0.000000,25.399306,9712,9776,9697,9739,0,27
5,2015-05-15,2607.0,台北市,0.001493,27.032639,9635,9642,9541,9575,0,-60
6,2015-05-18,4569.0,台北市,0.000000,27.809028,9612,9614,9552,9598,0,-14
7,2015-05-20,11002.0,台北市,2.552121,23.340625,9704,9725,9657,9668,0,-36
8,2015-05-21,6005.0,台北市,0.063077,20.520833,9645,9648,9512,9541,0,-104
9,2015-05-22,5948.0,台北市,0.982875,23.566667,9562,9649,9546,9625,0,63
10,2015-05-25,4846.0,台北市,0.212693,22.400347,9603,9640,9550,9630,0,27
11,2015-05-26,9714.0,台北市,0.425538,22.589931,9613,9725,9606,9659,0,46
12,2015-05-27,2324.0,台北市,0.025610,25.374306,9607,9698,9601,9661,0,54
13,2015-05-28,11585.0,台北市,0.000000,28.201736,9711,9750,9683,9731,0,20
14,2015-05-29,7949.0,台北市,0.001488,29.318056,9741,9765,9688,9703,0,-38
15,2015-06-01,12465.0,台北市,0.097281,26.756944,9668,9713,9601,9630,0,-38
16,2015-06-02,2236.0,台北市,0.000000,27.886458,9586,9639,9565,9607,0,21
17,2015-06-03,2340.0,台北市,0.000000,28.486806,9640,9648,9535,9547,0,-93
18,2015-06-04,4002.0,台北市,0.024012,26.777431,9531,9553,9301,9310,0,-221
19,2015-06-05,10743.0,台北市,0.060060,28.103136,9324,9347,9269,9308,0,-16
20,2015-06-08,9252.0,台北市,0.000000,27.641288,9312,9404,9235,9348,0,36
21,2015-06-09,5620.0,台北市,0.000000,28.623443,9303,9346,9201,9237,0,-66
22,2015-06-10,15642.0,台北市,0.000000,28.975000,9256,9328,9252,9284,0,28
23,2015-06-11,18882.0,台北市,0.000000,29.718681,9328,9333,9224,9288,0,-40
24,2015-06-12,28849.0,台北市,0.139881,28.838194,9272,9314,9230,9267,0,-5
25,2015-06-15,23659.0,台北市,0.005988,27.862021,9272,9318,9220,9244,0,-28
26,2015-06-16,15690.0,台北市,0.000000,28.884722,9244,9258,9164,9215,0,-29
27,2015-06-17,25955.0,台北市,0.000000,29.602778,9215,9237,9177,9182,0,-33
28,2015-06-18,36031.0,台北市,0.000000,29.665505,9044,9078,9011,9049,0,5
29,2015-06-22,34871.0,台北市,0.056061,27.996181,9108,9203,9105,9182,0,74
...,...,...,...,...,...,...,...,...,...,...,...
689,2018-03-01,106469.0,台北市,0.002646,19.284478,10604,10778,10600,10735,35903,131
690,2018-03-02,73484.0,台北市,0.000000,20.944000,10614,10696,10579,10681,61378,67
691,2018-03-05,122969.0,台北市,0.124528,20.322492,10695,10741,10598,10635,62593,-60
692,2018-03-06,132512.0,台北市,0.052926,15.304878,10730,10789,10712,10787,43923,57
693,2018-03-07,144627.0,台北市,0.054865,17.791045,10712,10817,10700,10712,40030,0
694,2018-03-08,144503.0,台北市,0.828686,11.968519,10778,10847,10767,10829,41290,51
695,2018-03-09,123686.0,台北市,0.001323,11.157402,10906,10910,10827,10865,30626,-41
696,2018-03-12,162091.0,台北市,0.000000,18.183030,10965,11025,10948,11024,31118,59
697,2018-03-13,189412.0,台北市,0.000000,18.909091,11028,11103,11013,11100,24343,72
698,2018-03-14,170868.0,台北市,0.001609,20.783939,11048,11066,11003,11031,36855,-17
699,2018-03-15,156418.0,台北市,0.045867,20.429730,10994,11068,10985,11041,44223,47
700,2018-03-16,116112.0,台北市,0.041755,18.490634,11038,11043,10923,11018,29839,-20
701,2018-03-19,184244.0,台北市,0.001613,22.114110,10975,11054,10959,11028,18195,53
702,2018-03-20,173910.0,台北市,0.476738,17.501818,10973,11025,10957,11012,34503,39
703,2018-03-21,128581.0,台北市,0.040691,12.979394,11030,11073,11011,11044,19186,14
704,2018-03-22,109302.0,台北市,0.000000,13.009036,11036,11122,10961,10989,28389,-47
705,2018-03-23,126438.0,台北市,0.000000,16.476524,10730,10816,10718,10734,66204,4
706,2018-03-26,173875.0,台北市,0.000000,20.616867,10693,10847,10682,10840,69002,147
707,2018-03-27,171277.0,台北市,0.008743,19.595137,10948,10991,10906,10989,62848,41
708,2018-03-28,159187.0,台北市,0.006479,21.151713,10879,10910,10809,10820,47717,-59
709,2018-03-29,162829.0,台北市,0.000000,22.945181,10830,10859,10773,10840,73814,10
710,2018-03-30,164800.0,台北市,0.001897,21.480000,10921,10974,10904,10919,43317,-2
711,2018-03-31,199673.0,台北市,0.006183,21.414199,10947,10949,10912,10926,8095,-21
712,2018-04-02,134309.0,台北市,0.000000,22.354819,10920,10958,10843,10865,0,-55
713,2018-04-03,162609.0,台北市,0.000000,22.403040,10774,10807,10738,10784,61026,10
714,2018-04-09,121895.0,台北市,0.000000,19.868731,10838,10911,10813,10904,43499,66
715,2018-04-10,139464.0,台北市,0.000000,21.375075,10874,10993,10852,10949,35463,75
716,2018-04-11,144348.0,台北市,0.000000,23.691867,10959,11007,10948,10979,32545,20
717,2018-04-12,170714.0,台北市,0.442895,23.570552,10993,11024,10905,10943,30228,-50
718,2018-04-13,146160.0,台北市,0.006849,24.970588,10966,10988,10920,10955,27450,-11

PermissionError: [Errno 13] Permission denied: 'end.csv'